<%= include partials/header %>

<div class="container-fluid">
	<div class="row">

		<div class="col-md-9">
			<div id="map"></div>
		</div>

		<div class="col-md-3">

			<div class="listBackgroundFinal">
				<ul>
					<% for (var i = 0; i < reviewsAndPlaces.length; i++) { %>
					<li id="favlist"><a href="/show/<%= reviewsAndPlaces[i].place.name %>"><%= reviewsAndPlaces[i].place.name %></a><input type="button" data-id="<%= reviewsAndPlaces[i].place.id %>" class="delete btn btn-default" value="Delete"></li>
					<% } %>
				</ul>
			</div>

			<script>
				var map = drawFavPlaces(20,1);
				<% for (var i = 0; i < reviewsAndPlaces.length; i++) { %>
					L.marker([<%= reviewsAndPlaces[i].place.lat %>, <%= reviewsAndPlaces[i].place.lng %>]).addTo(map).bindPopup(
						'<%= reviewsAndPlaces[i].content %><br></br><button class="trigger">Delete</button>').openPopup();
				<% } %>
			</script>

			</div>

		</div>
	</div>

</body>
</html>	