<% include header %>


	<div id="world"></div>



	<div class="listBackground2">
		<ul>
			<% for (var i = 0; i < place.length; i++) { %>
				<li id="favlist"><a href="/show/<%= place[i].name %>"><%= place[i].name %></a><input type="button" data-id="<%= place[i].id %>" class="delete btn btn-default" value="Delete"></li>
			<% } %>
		</ul>
	</div>

	<script>
		var map = drawWorldMap(20,1);
		<% for (var i = 0; i < place.length; i++) { %>
			L.marker([<%= place[i].lat %>, <%= place[i].lng %>]).addTo(map);
		<% } %>
	</script>

</body>
</html>	