<%= include partials/header %>

<div class="container-fluid">
	<div class="row">

		<div class="col-md-8">
			<div id="map"></div>
		</div>

		<div class="col-md-4">



			<div class="listBackgroundFinal">
				<p id="big">Country Name: <%= showArray.name %></p>
				<h3>Capital City: <%= showArray.capital %></h3>
				<h3>Population: <%= showArray.population %></h3>
				<h3>Continent: <%= showArray.region %> </h3>
				<h3>Subregion: <%= showArray.subregion %></h3>
				<h3>Native Name: <%= showArray.nativeName %></h3>
				<h3>Demonym: <%= showArray.demonym %></h3>
				<h3>UTC Time Zone: 
					<% if(showArray.timezones  === null) { %>
					<%= showArray.timezones = "not available" %>
					<% }else { %>
					<%= showArray.timezones[0] %>
					<% } %>
				</h3><!-- <br></br> -->

				<% if(user) { %>

					<% if(isInFavList){ %>
						<form class="form" method="post" action="/reviews">
							<textarea class="form-control" placeholder="Enter Your Experiences" name="message"></textarea>
							<input type="hidden" name="pid" value="<%= placeId %>">
							<input id="review" type="submit" value="Submit" class="btn btn-lg btn-default">
						</form>	
					<% }else{ %>
						<div class="btn-group">
							<button class="before btn btn-default" data-name="<%= showArray.name %>" data-capital="<%= showArray.capital %>" data-lat="<%= Math.round(showArray.latlng[0]) %>" data-lng="<%= Math.round(showArray.latlng[1]) %>"><span>Add to Favorites</span></button> 
						</div>
						<div id="addedtofav"><h4><strong>Added to My Places.</strong></h4></div>
					<% } %>

				<% } %>
			</div>


			<script>
				drawMap(<%- showArray.latlng[0] %>, <%- showArray.latlng[1] %>);
			</script>
		</div>
		
	</div>	
</div>

</body>
</html>	